@use "variables/variables-spacing" as bfVarsSpacing;
@use "variables/variables-colors" as bfVarsColors;
@use "sass:color";

blockquote {
  margin: 0 0 bfVarsSpacing.$bf-spacing-xl-px 0;
  margin-bottom: bfVarsSpacing.$bf-spacing-xl-rem;
  padding-left: 0;
  font-style: italic;
}

blockquote p {
  margin-bottom: 0;
}

blockquote small {
  color: bfVarsColors.$bf-gray;
  display: block;
}

blockquote small:before {
  content: "\2014 \00A0";
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}
