// custom <select> arrow and appearance with a base64 embedded SVG icon
// https://css-tricks.com/probably-dont-base64-svg/#article-header-id-2
//
// this is inspired from https://github.com/kognise/water.css
// and from Bootstrap custom select
// https://getbootstrap.com/docs/4.4/components/input-group/#custom-select

// ! :not and calc() are IE9+
// https://caniuse.com/#feat=mdn-css_selectors_not
// https://caniuse.com/#feat=calc

@use 'variables/variables-spacing';
@use 'variables/variables-colors';

// ! 12px = the icon width/height, and must be in pixels because
// calc() is just for values
// https://css-tricks.com/a-complete-guide-to-calc-in-css/#0-calc-is-for-values
//
// a select with a [multiple] attribute doesn't show an arrow by default
// a select with a [size] attribute gets and arrow on iOS (Webkit) for instance
// but on Chrome and FF desktop
// so, is not safe to style every kind of <select>
//
// remove the arrow and the appearance, especially on Webkit
select:not([size]):not([multiple]) {
  appearance: none;

  // add a new svg arrow
  background: variables-colors.$bf-white
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.85rem center/8px 10px;

  // space the arrow
  padding-right: variables-spacing.$bf-spacing-lg-px +
    variables-spacing.$bf-spacing-lg-px;
  padding-right: variables-spacing.$bf-spacing-lg-rem +
    variables-spacing.$bf-spacing-lg-rem;
}

// IE10+
// The '::-ms-expand' CSS pseudo-element is a Microsoft extension that represents
// the button of a <select> menu control that opens or closes the drop-down
// menu. Typically it is a triangle that points downward.
// https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-expand
select::-ms-expand {
  display: none;
}

// add support for RTL languages
// 'appearance: none' removes the default styling but introduces a bug
// that occurs when a right to the left language (e.g. Arabic) is set
//
// Read more
// 1. http://bootstrap.rtlcss.com
// 2. https://rtlstyling.com/
*[dir='rtl'] select:not([size]):not([multiple]),
select[dir='rtl']:not([size]):not([multiple]) {
  // move the arrow icon to the left
  background-position: left 0.85rem top 50%;

  // go back to default forms padding
  padding-right: (variables-spacing.$bf-spacing-lg-px * 0.75);
  padding-right: (variables-spacing.$bf-spacing-lg-rem * 0.75);

  // add custom left padding, matching the custom LTR one
  padding-left: variables-spacing.$bf-spacing-lg-px +
    variables-spacing.$bf-spacing-lg-px;
  padding-left: variables-spacing.$bf-spacing-lg-rem +
    variables-spacing.$bf-spacing-lg-rem;
}
