// this is an hack for IE8
// https://gist.github.com/marcop135/cf5163ab23d1cb208248b955c990b2ea#ie-8

// some inputs don't get the padding well
// https://stackoverflow.com/questions/607198/padding-a-text-input-in-ie-possible

@media \0screen {
  [type='email'],
  [type='number'],
  [type='password'],
  [type='tel'],
  [type='search'],
  [type='text'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='time'],
  [type='week'],
  [type='time'],
  [type='url'],
  [type='range'],
  input[list] {
    padding-top: 0;
    padding-bottom: 0;
    height: $bf-spacing-xxl-px + 2;
    line-height: $bf-spacing-xxl-px + 2;
  }
}

// this is an hack for IE9+
// https://gist.github.com/marcop135/cf5163ab23d1cb208248b955c990b2ea
//
// fix input 'line-height' without declaring 'height' adding an extra HTML class
// as Bootstrap does
// https://github.com/twbs/bootstrap/blob/v4.5.0/dist/css/bootstrap.css#L2039
//
// philosophy: flexibility is better than overkill control
@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
  [type='email'],
  [type='number'],
  [type='password'],
  [type='tel'],
  [type='search'],
  [type='text'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='time'],
  [type='week'],
  [type='time'],
  [type='url'],
  [type='range'],
  input[list] {
    line-height: 1.2;
  }
}
