@mixin bf-text-hide {
  /* stylelint-disable-next-line */
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@mixin bf-text-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

// truncate a multiline text via line-clamp
//
// demo https://codepen.io/devam-soni/pen/PoqaKWm

@mixin bf-text-truncate--multiline-2 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}

@mixin bf-text-truncate--multiline-3 {
  @include bf-text-truncate--multiline-2;
  -webkit-line-clamp: 3 !important;
  line-clamp: 3 !important;
}
