.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%;
}

.embed-responsive .embed-responsive--item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive.widescreen::before {
	padding-bottom: 56.25%; /* 16:9 */
}

.embed-responsive.vimeo::before {
	padding-top: 0; /* no extra-padding for vimeo controls */
}
