// taken from https://getbootstrap.com/docs/4.4/utilities/embed/
// but lightened and enhanced for a better Vimeo support

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	
	&::before {
		display: block;
		content: "";
		padding-top: 56.25%;
	}

	& .embed-responsive--item,
	& iframe,
	& embed,
	& object,
	& video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	&.widescreen::before {
		padding-bottom: 56.25%; /* 16:9 */
	}

	&.vimeo::before {
		padding-top: 0; /* no extra-padding for vimeo controls */
	}

}
