.bf-container {
	// avoid IE8 issue with 'box-sizing: border-box' in combination
  // with max/min-width and max/min-height
  // https://github.com/twbs/bootstrap/issues/10014
  //
	box-sizing: content-box;

	max-width: 1252px; // 1252 + left padding 24 + right padding 24 = 1300
	max-width: 125.2rem;
	padding-right: $spacing-xl-px;
	padding-right: $spacing-xl-rem;
	padding-left: $spacing-xl-px;
	padding-left: $spacing-xl-rem;
	margin-right: auto;
	margin-left: auto;

	// clearfix
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

.bf-container--fluid {
	padding-left: $spacing-xl-px;
	padding-left: $spacing-xl-rem;
	padding-right: $spacing-xl-px;
	padding-right: $spacing-xl-rem;
	margin-right: auto;
	margin-left: auto;

	// clearfix 
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}


.bf-row {
	display: block;
	margin-left: -$spacing-xl-px;
	margin-left: -$spacing-xl-rem;
	margin-right: -$spacing-xl-px;
	margin-right: -$spacing-xl-rem;

	// clearfix 
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

[class^="bf-col-"] {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: $spacing-xl-px;
	padding-left: $spacing-xl-rem;
	padding-right: $spacing-xl-px;
	padding-right: $spacing-xl-rem;
}

.bf-col-12 {
	width: 100%;
}

.bf-col-11 {
	width: 91.66666666666666%;
}

.bf-col-10 {
	width: 83.33333333333334%;
}

.bf-col-9 {
	width: 75%;
}

.bf-col-8 {
	width: 66.66666666666666%;
}

.bf-col-7 {
	width: 58.333333333333336%;
}

.bf-col-6 {
	width: 50%;
}

.bf-col-5 {
	width: 41.66666666666667%;
}

.bf-col-4 {
	width: 33.33333333333333%;
}

.bf-col-3 {
	width: 25%;
}

.bf-col-2 {
	width: 16.666666666666664%;
}

.bf-col-1 {
	width: 8.3333%;
}

// grid breakpoints
// https://getbootstrap.com/docs/4.4/layout/grid/
// ≥57$spacing-md-px 	sm
// ≥768px 	md
// ≥992px 	lg

@media (max-width: 57$spacing-md-px) {
	.bf-container--break-sm .bf-row {
		margin-left: 0;
		margin-right: 0;
	}

	.bf-container--break-sm [class^="bf-col-"] {
		width: 100%;
		float: none;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.bf-container--break-md .bf-row {
		margin-left: 0;
		margin-right: 0;
	}

	.bf-container--break-md [class^="bf-col-"] {
		width: 100%;
		float: none;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.bf-container--break-lg .bf-row {
		margin-left: 0;
		margin-right: 0;
	}

	.bf-container--break-lg [class^="bf-col-"] {
		width: 100%;
		float: none;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

// fix missing table cell borders when using 'col-' classes for column sizing
// https://github.com/twbs/bootstrap/issues/11623
table td[class^="bf-col-"],
table th[class^="bf-col-"] {
	position: static;
}
