// this is something similar to the Bootstrap's spacing utility
// https://getbootstrap.com/docs/4.4/utilities/spacing/

// margins and paddings classes

.m-0 {
	margin: 0 !important;
}

.m-top-0 {
	margin-top: 0 !important;
}

.m-bottom-0 {
	margin-bottom: 0 !important;
}

.m-left-0 {
	margin-left: 0 !important;
}

.m-right-0 {
	margin-right: 0 !important;
}

// paddings

.p-0 {
	padding: 0 !important;
}

.p-top-0 {
	padding-top: 0 !important;
}

.p-bottom-0 {
	padding-bottom: 0 !important;
}

.p-left-0 {
	padding-left: 0 !important;
}

.p-right-0 {
	padding-right: 0 !important;
}
