// this is something similar to Bootstrap's spacing utility
// https://getbootstrap.com/docs/4.4/utilities/spacing/

// margins and paddings classes

.m-0 {
	margin: 0 !important;
}

.m-top-0 {
	margin-top: 0 !important;
}

.m-bottom-0 {
	margin-bottom: 0 !important;
}

.m-left-0 {
	margin-left: 0 !important;
}

.m-right-0 {
	margin-right: 0 !important;
}

.m-bottom-6 {
	margin-bottom: 6px !important;
	margin-bottom: 1.2rem !important;
}

.m-bottom-12 {
	margin-bottom: 12px !important;
	margin-bottom: 1.2rem !important;
}

.m-bottom-24 {
	margin-bottom: 24px !important;
	margin-bottom: 2.4rem !important;
}

.m-bottom-36 {
	margin-bottom: 36px !important;
	margin-bottom: 3.6rem !important;
}

// paddings

.p-0 {
	padding: 0 !important;
}

.p-top-0 {
	padding-top: 0 !important;
}

.p-bottom-0 {
	padding-bottom: 0 !important;
}

.p-left-0 {
	padding-left: 0 !important;
}

.p-right-0 {
	padding-right: 0 !important;
}

.p-bottom-6 {
	padding-bottom: 6px !important;
	padding-bottom: 1.2rem !important;
}

.p-bottom-12 {
	padding-bottom: 12px !important;
	padding-bottom: 1.2rem !important;
}

.p-bottom-24 {
	padding-bottom: 24px !important;
	padding-bottom: 2.4rem !important;
}

.p-bottom-36 {
	padding-bottom: 36px !important;
	padding-bottom: 3.6rem !important;
}
