// Note: issues on Opera 10-11, Opera Mobile Presto and Opera Mini

.table-responsive {
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-style: scrollbar;
}

.table-responsive table {
	width: 100%;
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* force webkit scrollbars appearance */
.table-responsive.scrollbar {
	-webkit-overflow-scrolling: auto;
}
