html {
  color: $bf-light;
}

body {
  background-color: $bf-dark;
}

// anchors
a {
  color: lighten($bf-blue, 15%);
  
  &:hover,
  &:focus {
    color: lighten($bf-blue-light, 15%);
  }
}

// typography
mark {
	background-color: darken($bf-yellow, 5%);
}

ins {
	background-color: darken($bf-yellow-light, 40%);
}

kbd {
  background-color: $bf-gray-light;
  color: $bf-black;
}

hr {
  border-color: $bf-gray-light;
}

// tables
.bf-table th,
.bf-table td {
	border-color: $bf-gray-dark;
}

// forms
[type="color"],
[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="time"],
[type="url"],
select,
textarea {
  background-color: $bf-gray-dark-extra;
  border-color: $bf-black;

  &:active,

  &:focus {
    background-color: $bf-gray-dark-extra;
    border-color: $bf-gray;
    box-shadow: 0 0 0 3px rgba(153, 153, 153, .5);
  }
}

input::placeholder,
textarea::placeholder {
	color: $bf-gray;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
.bf-btn {
  color: $bf-dark;
  background: darken($bf-gray-light, 10%);

  &:hover,
  &:focus {
    color: $bf-dark;
    background: $bf-gray-light;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 3px rgba(153, 153, 153, .75);
  }
}

.bf-btn.bf-btn--primary {
  background: $bf-blue-light;
  
  &:hover,
  &:focus {
    background: lighten($bf-blue-light, 5%);
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
  }
}