.text-uppercase {
	text-transform: uppercase;
}

.text-transform-none {
	text-transform: none;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-shadow {
	text-shadow: 0 0 .2rem $dark;
}

.text-italic {
	font-style: italic;
}

// useful to 'reset' <i> inherited style
.text-style-normal {
	font-style: normal;
}

// useful to 'reset' <b> inherited style
.text-weight-normal {
	font-weight: 400;
}

.text-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

.no-select {
	user-select: none;

	// this is a not standard CSS property, so it's for webkit only
	// https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout
	// useful on iOS
	// https://css-tricks.com/force-selection-text-block/#article-header-id-7
	// https://ishadeed.com/article/selection-in-css scroll down to 
	// 'selection on mobile' section
	-webkit-touch-callout: none;
}


.font-sans-serif {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

.font-serif {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.font-monospace {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
	margin-top: 0;
}

.h1 {
	font-size: 3$spacing-md-px;
	font-size: $spacing-xxl-rem;
	margin: $spacing-xl-px 0;
	margin: $spacing-xl-rem 0;
}

.h2 {
	font-size: 30px;
	font-size: 3rem;
	margin: $spacing-xl-px 0;
	margin: $spacing-xl-rem 0;
}

.h3 {
	font-size: $spacing-xl-px;
	font-size: $spacing-xl-rem;
	margin: $spacing-xl-px 0;
	margin: $spacing-xl-rem 0;
}

.h4 {
	font-size: 20px;
	font-size: 2rem;
	margin: $spacing-lg-px 0;
	margin: $spacing-lg-rem 0;
}

.h5,
.h6 {
	font-size: 17px;
	font-size: 1.7rem;
	margin: $spacing-lg-px 0;
	margin: $spacing-lg-rem 0;
}

p.lead {
	font-size: 120%;
}

