@use 'variables/variables-spacing';
@use 'variables/variables-colors';

.bf-focused {
  transition: border 0.2s, background-color 0.2s, box-shadow 0.2s !important;
  border-color: variables-colors.$bf-blue !important;
  box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.25) !important;
}

.bf-disabled,
.bf-disabled:hover,
.bf-disabled:active,
.bf-disabled:focus,
.bf-disabled:after,
.bf-disabled:before,
.bf-disabled:invalid,
.bf-disabled:checked {
  cursor: default !important; // IE8-10 fallback
  cursor: not-allowed !important;
  pointer-events: none !important;
  user-select: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important;

  background-color: variables-colors.$bf-white;
  border-color: variables-colors.$bf-gray;
}

label.bf-disabled {
  background-color: transparent;
  border-color: transparent;
}

button.bf-disabled,
[type='button'].bf-disabled,
[type='reset'].bf-disabled,
[type='submit'].bf-disabled,
.bf-btn.bf-disabled {
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
  opacity: 0.5;

  color: variables-colors.$bf-dark;
  background: variables-colors.$bf-gray-light;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: variables-colors.$bf-dark;
    background: variables-colors.$bf-gray-light;
  }
}

.bf-btn--primary.bf-disabled {
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
  opacity: 0.5;

  color: variables-colors.$bf-white;
  background: variables-colors.$bf-blue;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: variables-colors.$bf-white;
    background: variables-colors.$bf-blue;
  }
}

.bf-invalid,
.bf-invalid:focus {
  color: variables-colors.$bf-red !important;
  border-color: variables-colors.$bf-red !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
}
