@use "../variables/variables-colors" as bf-v-color;
@use "../variables/variables-texts" as bf-v-text;
@use "../variables/variables-spacing" as bf-v-space;
@use "../variables/variables-breakpoints" as bf-v-bp;
@use "sass:color";

.custom-checkbox-wrapper [type="checkbox"] {
  appearance: none;
  height: 1.8rem;
  width: 1.8rem;
  vertical-align: top;
  position: relative;
  border: 1px solid bf-v-color.$bf-gray;

  + label {
    line-height: 1.8rem;
    vertical-align: top;
    margin-left: bf-v-space.$bf-spacing-md;
  }

  *[dir="rtl"] & + label,
  &[dir="rtl"] + label {
    margin-left: 0;
    margin-right: bf-v-space.$bf-spacing-md;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &:checked {
    background-color: bf-v-color.$bf-blue;
    border-color: bf-v-color.$bf-black;
  }

  &::after {
    width: 0.6rem;
    height: 0.8rem;
    border: 2px solid bf-v-color.$bf-white;
    border-top: 0;
    border-left: 0;
    left: 35%;
    top: 20%;
    transform: rotate(43deg);
  }
}

.custom-radio-wrapper [type="radio"] {
  appearance: none;
  height: 1.8rem;
  width: 1.8rem;
  vertical-align: top;
  position: relative;
  border: 1px solid bf-v-color.$bf-gray;

  + label {
    line-height: 1.8rem;
    vertical-align: top;
    margin-left: bf-v-space.$bf-spacing-md;
  }

  *[dir="rtl"] & + label,
  &[dir="rtl"] + label {
    margin-left: 0;
    margin-right: bf-v-space.$bf-spacing-md;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    left: -0.05rem;
    top: -0.05rem;
    border-radius: 50%;
    background: bf-v-color.$bf-white;
    transform: scale(0.35);
  }

  &:checked {
    background-color: bf-v-color.$bf-blue;
    border-color: bf-v-color.$bf-black;
  }
}
