@use "variables/variables-texts" as v-text;
@use "variables/variables-spacing" as v-space;
@use "variables/variables-colors" as v-color;
@use "sass:color";

.bf-table th,
.bf-table td {
  padding: v-space.$bf-spacing-lg-rem;
  border-bottom: 1px solid v-color.$bf-gray;
  margin-bottom: v-space.$bf-spacing-md-rem;
}

// responsive tables
.bf-table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: scrollbar;
}

.bf-table-responsive table {
  width: 100%;
  margin-bottom: v-space.$bf-spacing-md-rem;
}

// force webkit scrollbars appearance
.bf-table-responsive.scrollbar {
  -webkit-overflow-scrolling: auto;
}

// zebra striping
.bf-table--zebra tbody tr:nth-child(odd),
.bf-table-responsive--zebra tbody tr:nth-child(odd) {
  background-color: v-color.$bf-gray-light-extra;
}
