@use "variables/variables-colors" as v-color;
@use "variables/variables-texts" as v-text;
@use "variables/variables-spacing" as v-space;
@use "sass:color";

// standard property
// 'scrollbar-color'
// https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
html {
  scrollbar-color: color.adjust(v-color.$bf-gray-dark, $lightness: -5%)
    v-color.$bf-dark-extra;
}

// these features are not standard, and blink and webkit only
// '::-webkit-scrollbar'
// https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar

::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: v-color.$bf-dark-extra;
}

::-webkit-scrollbar-thumb {
  background-color: color.adjust(v-color.$bf-gray-dark, $lightness: -5%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: color.adjust(v-color.$bf-gray-dark, $lightness: 10%);
}
