@use 'variables/variables-spacing';
@use 'variables/variables-colors';

.bf-btn {
  display: inline-block;
  cursor: pointer;
  color: variables-colors.$bf-dark;
  padding: calc(variables-spacing.$bf-spacing-xl-px / 3)
    (calc(variables-spacing.$bf-spacing-xl-px / 3) * 2); // 8px 16px
  line-height: normal;
  text-align: center;
  margin: 0;
  background-clip: padding-box;
  vertical-align: baseline;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  border-radius: variables-spacing.$bf-spacing-sm-rem;

  border: 0;
  background-image: none; // FF mobile
  background-color: variables-colors.$bf-gray-light;
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: variables-colors.$bf-dark;
    background: darken(variables-colors.$bf-gray-light, 10%);
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: 0;
  }

  &.bf-btn--primary {
    color: variables-colors.$bf-white;
    background: variables-colors.$bf-blue;

    &:hover,
    &:active,
    &:focus {
      color: variables-colors.$bf-white;
      background: darken(variables-colors.$bf-blue, 10%);
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.25);
    }
  }
}

fieldset[disabled] .bf-btn,
.bf-btn[disabled],
.bf-btn:disabled,
.bf-btn[aria-disabled='true'] {
  cursor: default !important; // fallback
  cursor: not-allowed !important;
  pointer-events: none !important;
  user-select: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important;
  background-color: variables-colors.$bf-gray-light;
}
