// this is something similar to Bootstrap's spacing utility
// https://getbootstrap.com/docs/4.4/utilities/spacing/

// margins and paddings classes

.m-0 {
	margin: 0 !important;
}

.m-top-0 {
	margin-top: 0 !important;
}

.m-bottom-0 {
	margin-bottom: 0 !important;
}

.m-left-0 {
	margin-left: 0 !important;
}

.m-right-0 {
	margin-right: 0 !important;
}

.m-bottom-6 {
	margin-bottom: $spacing-md-px !important;
	margin-bottom: $spacing-lg-rem !important;
}

.m-bottom-12 {
	margin-bottom: $spacing-lg-px !important;
	margin-bottom: $spacing-lg-rem !important;
}

.m-bottom-24 {
	margin-bottom: $spacing-xl-px !important;
	margin-bottom: $spacing-xl-rem !important;
}

.m-bottom-36 {
	margin-bottom: 3$spacing-md-px !important;
	margin-bottom: $spacing-xxl-rem !important;
}

// paddings

.p-0 {
	padding: 0 !important;
}

.p-top-0 {
	padding-top: 0 !important;
}

.p-bottom-0 {
	padding-bottom: 0 !important;
}

.p-left-0 {
	padding-left: 0 !important;
}

.p-right-0 {
	padding-right: 0 !important;
}

.p-bottom-6 {
	padding-bottom: $spacing-md-px !important;
	padding-bottom: $spacing-lg-rem !important;
}

.p-bottom-12 {
	padding-bottom: $spacing-lg-px !important;
	padding-bottom: $spacing-lg-rem !important;
}

.p-bottom-24 {
	padding-bottom: $spacing-xl-px !important;
	padding-bottom: $spacing-xl-rem !important;
}

.p-bottom-36 {
	padding-bottom: 3$spacing-md-px !important;
	padding-bottom: $spacing-xxl-rem !important;
}
