// No IE and Opera Mini support
// https://caniuse.com/css-filters

// useful if dark mode
.bf-filter-invert {
  filter: invert(100%) !important;
}

// useful to dim bright images if dark mode
.bf-filter-dim-images {
  filter: brightness(0.8) contrast(1.2);
}

.bf-filter-grayscale {
  filter: grayscale(1) !important;
}

.bf-filter-blur {
  filter: blur(.3rem) !important;
}

.bf-filter-none {
  filter: none !important;
}