// this is something similar to Bootstrap's spacing utility
// https://getbootstrap.com/docs/4.4/utilities/spacing/

// margins and paddings classes

.bf-m-0 {
	margin: 0 !important;
}

.bf-m-top-0 {
	margin-top: 0 !important;
}

.bf-m-bottom-0 {
	margin-bottom: 0 !important;
}

.bf-m-left-0 {
	margin-left: 0 !important;
}

.bf-m-right-0 {
	margin-right: 0 !important;
}

.bf-m-bottom-6 {
	margin-bottom: $bf-spacing-md-px !important;
	margin-bottom: $bf-spacing-lg-rem !important;
}

.bf-m-bottom-12 {
	margin-bottom: $bf-spacing-lg-px !important;
	margin-bottom: $bf-spacing-lg-rem !important;
}

.bf-m-bottom-24 {
	margin-bottom: $bf-spacing-xl-px !important;
	margin-bottom: $bf-spacing-xl-rem !important;
}

.bf-m-bottom-36 {
	margin-bottom: 3$bf-spacing-md-px !important;
	margin-bottom: $bf-spacing-xxl-rem !important;
}

// paddings

.bf-p-0 {
	padding: 0 !important;
}

.bf-p-top-0 {
	padding-top: 0 !important;
}

.bf-p-bottom-0 {
	padding-bottom: 0 !important;
}

.bf-p-left-0 {
	padding-left: 0 !important;
}

.bf-p-right-0 {
	padding-right: 0 !important;
}

.bf-p-bottom-6 {
	padding-bottom: $bf-spacing-md-px !important;
	padding-bottom: $bf-spacing-lg-rem !important;
}

.bf-p-bottom-12 {
	padding-bottom: $bf-spacing-lg-px !important;
	padding-bottom: $bf-spacing-lg-rem !important;
}

.bf-p-bottom-24 {
	padding-bottom: $bf-spacing-xl-px !important;
	padding-bottom: $bf-spacing-xl-rem !important;
}

.bf-p-bottom-36 {
	padding-bottom: 3$bf-spacing-md-px !important;
	padding-bottom: $bf-spacing-xxl-rem !important;
}
