@use "variables/variables-texts" as v-text;
@use "variables/variables-spacing" as v-space;
@use "variables/variables-colors" as v-color;
@use "sass:color";

.bf-focused {
  transition: border 0.2s, background-color 0.2s, box-shadow 0.2s !important;
  border-color: v-color.$bf-blue !important;
  box-shadow: 0 0 0 3px rgb(0 86 179 / 25%) !important;
}

.bf-disabled,
.bf-disabled:hover,
.bf-disabled:active,
.bf-disabled:focus,
.bf-disabled:after,
.bf-disabled:before,
.bf-disabled:invalid,
.bf-disabled:checked {
  cursor: default !important; // IE8-10 fallback
  cursor: not-allowed !important;
  pointer-events: none !important;
  user-select: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important;

  background-color: v-color.$bf-white;
  border-color: v-color.$bf-gray;
}

label.bf-disabled {
  background-color: transparent;
  border-color: transparent;
}

button.bf-disabled,
[type="button"].bf-disabled,
[type="reset"].bf-disabled,
[type="submit"].bf-disabled,
.bf-btn.bf-disabled {
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
  opacity: 0.5;

  color: v-color.$bf-dark;
  background: v-color.$bf-gray-light;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: v-color.$bf-dark;
    background: v-color.$bf-gray-light;
  }
}

.bf-btn--primary.bf-disabled {
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
  opacity: 0.5;

  color: v-color.$bf-white;
  background: v-color.$bf-blue;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: v-color.$bf-white;
    background: v-color.$bf-blue;
  }
}

.bf-invalid,
.bf-invalid:focus {
  color: v-color.$bf-red !important;
  border-color: v-color.$bf-red !important;
  box-shadow: 0 0 0 3px rgb(255 0 0 / 25%) !important;
}
