// micro-clearfix 
// http://nicolasgallagher.com/micro-clearfix-hack/
.bf-clearfix:before,
.bf-clearfix:after {
	content: " ";
	display: table;
}

.bf-clearfix:after {
	clear: both;
}

.bf-hide {
	display: none !important;
}

// assistive text for screen reader only (e.g. form labels)
.bf-hidden {
	display: none !important;
	visibility: hidden !important;
}

.bf-text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

/*
// taken from https://github.com/h5bp/html5-boilerplate/blob/v7.3.0/dist/css/main.css
// 
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.bf-sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/*
// taken from https://github.com/h5bp/html5-boilerplate/blob/v7.3.0/dist/css/main.css
// 
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.bf-sr-only.focusable:active,
.bf-sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.bf-invisible {
	visibility: hidden;
}

.bf-visible {
	visibility: visible;
}

.bf-display-block {
	display: block;
}

.bf-display-block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bf-display-inline {
	display: inline;
}

.bf-display-inline-block {
	display: inline-block ;
}

// IE10+
// https://caniuse.com/#feat=flexbox
.bf-display-flex {
	display: flex !important;
}

.bf-display-inline-flex {
	display: inline-flex !important;
}

.bf-float-right {
	float: right;
}

.bf-float-left {
	float: left;
}

.bf-position-fixed {
	position: fixed;
}

// cross-browser vertically and horizontally center alignment
// http://css-tricks.com/centering-in-the-unknown/
.bf-align-center-unknown {
	display: table;
	width: 100%;
}

.bf-align-center-unknown--item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}