/* Miscellaneous - Anchors */

/* Link color meets WCAG AA 4.5:1 contrast on white background */
a {
  color: var(--bf-blue);
  text-decoration: none;

  /* Edge Legacy: Remove grey background on active links */
  background-color: transparent;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--bf-blue-light);
}

/* this is taken from Bootstrap's reboot
 * https://getbootstrap.com/docs/4.4/content/reboot/
 */

a:not([href], [tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href], [class]),
a:not([href], [class]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href], [tabindex]):focus {
  outline: 0;
}
