/* Utilities - Form states */

.bf-focused {
  transition:
    border 0.2s,
    background-color 0.2s,
    box-shadow 0.2s !important;
  border-color: var(--bf-blue) !important;
  box-shadow: 0 0 0 3px rgb(0 86 179 / 25%) !important;
}

.bf-disabled,
.bf-disabled:hover,
.bf-disabled:active,
.bf-disabled:focus,
.bf-disabled::after,
.bf-disabled::before,
.bf-disabled:invalid,
.bf-disabled:checked {
  cursor: default !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  user-select: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important;
  background-color: var(--bf-white);
  border-color: var(--bf-gray);
}

label.bf-disabled {
  background-color: transparent;
  border-color: transparent;
}

button.bf-disabled,
[type='button'].bf-disabled,
[type='reset'].bf-disabled,
[type='submit'].bf-disabled,
.bf-btn.bf-disabled {
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
  opacity: 0.5;
  color: var(--bf-dark);
  background: var(--bf-gray-light);
}

button.bf-disabled:hover,
button.bf-disabled:active,
button.bf-disabled:focus,
[type='button'].bf-disabled:hover,
[type='button'].bf-disabled:active,
[type='button'].bf-disabled:focus,
[type='reset'].bf-disabled:hover,
[type='reset'].bf-disabled:active,
[type='reset'].bf-disabled:focus,
[type='submit'].bf-disabled:hover,
[type='submit'].bf-disabled:active,
[type='submit'].bf-disabled:focus,
.bf-btn.bf-disabled:hover,
.bf-btn.bf-disabled:active,
.bf-btn.bf-disabled:focus {
  box-shadow: none;
  color: var(--bf-dark);
  background: var(--bf-gray-light);
}

.bf-btn--primary.bf-disabled {
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
  opacity: 0.5;
  color: var(--bf-white);
  background: var(--bf-blue);
}

.bf-btn--primary.bf-disabled:hover,
.bf-btn--primary.bf-disabled:active,
.bf-btn--primary.bf-disabled:focus {
  box-shadow: none;
  color: var(--bf-white);
  background: var(--bf-blue);
}

.bf-invalid,
.bf-invalid:focus {
  color: var(--bf-red) !important;
  border-color: var(--bf-red) !important;
  box-shadow: 0 0 0 3px rgb(255 0 0 / 25%) !important;
}
