/*! Author's custom styles starting-point - BULLFRAME.CSS v1.4.3 extension 
 *
 * Customize as you want the following code
 *
 * https://github.com/marco135/bullframe.css/tree/master/extensions
 * MIT License
============================================================================ */



/* Use @viewport rule ------------------------------------------------------

 * Fix IE 10 on Windows Phone 8 Viewport with JavaScript http://goo.gl/ryjPF
@-ms-viewport { 
  width: device-width;
} 
*/



/* Scalable <img> and <video> elements ------------------------------------

 * just in case, to force correct aspet ratio 
 * if necessary, override this rule with 'max-height: XXXpx'  

img,
video {
  height: auto !important;
}
*/



/* Change box-model 
 * (no IE7 support. just in case, use box-sizing polyfill) 
 * https://github.com/Schepp/box-sizing-polyfill --------------------------

*, 
*:before, 
*:after { 
  -webkit-box-sizing: border-box !important; 
  -moz-box-sizing: border-box !important; 
  box-sizing: border-box !important; 
}
*/





/* Customize <body> element ------------------------------------------------
 * TIPS: reset body styles if you use modal windows (e.g. fancybox)

body {
  max-width: ;
  *min-width: ;
  margin: ;
  padding: ;
  position: ;
}
*/





/* Change skin -------------------------------------------------------------

html, 
button, 
input, 
select,
textarea {
  font-family: ;
}
html, 
button, 
.btn,
.btn:hover,
.btn:focus,
input, 
select,
textarea {
  color: ;
}
html {
  background-color: ;
}


a {
  color: ;
  text-decoration: ;
  -webkit-tap-highlight-color: rgba(XXX, XXX, XXX, X.XX);
}
a:hover,
a:focus {
  color: ;
  text-decoration: ;
} 


::-moz-selection {
  background: ;
  color: ;
}
::selection {
  background: ;
  color: ;
}
*/





/* Change base font-size ---------------------------------------------------

/* 15px 

body {
  font-size: 0.9375em;
}
pre, 
code, 
kbd, 
samp {
  font-size: 1em;
}


/* 14px 

body {
  font-size: 0.875em;
}
pre, 
code, 
kbd, 
samp {
  font-size: 1em;
}


/* 13px 

body {
  font-size: 0.8125em;
}
pre, 
code, 
kbd, 
samp {
  font-size: 1em;
}


/* 12px 

body {
  font-size: 0.75em;
}
pre, 
code, 
kbd, 
samp {
  font-size: 1em;
}
*/




/* WordPress Core CSS (relative units in use)
 * http://codex.wordpress.org/CSS 
 *
 * - WordPress generated classes
 * Several classes for aligning images and block elements (div, p, table etc.)
 * were introduced in WordPress 2.5: aligncenter, alignleft and alignright. 
 * In addition the class alignnone is added to images that are not aligned, 
 * so they can be styled differently if needed.
 * The same classes are used to align images that have a caption (as of
 * WordPress 2.6).
 * ------------------------------------------------------------------------
.alignnone {
  margin: 0.7em 1.4em 1.4em 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.7em auto;
}
.alignright {
  float: right;
  margin: 0.7em 0 1.4em 1.4em;
}
.alignleft {
  float: left;
  margin: 0.7em 1.4em 1.4em 0;
}
.aligncenter {
  display: block;
  margin: 0.7em auto;
}
a img.alignright {
  float: right;
  margin: 0.7em 0 1.4em 1.4em;
}
a img.alignnone {
  margin: 0.7em 1.4em 1.4em 0;
}
a img.alignleft {
  float: left;
  margin: 0.7em 1.4em 1.4em 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption {
  background: #f4f4f4;
  border: 1px solid #ccc;
  max-width: 96%;
  padding: 0.7em 0.7em 0.7em;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 0.7em 1.4em 1.4em 0;
}
.wp-caption.alignleft {
  margin: 0.7em 1.4em 1.4em 0;
}
.wp-caption.alignright {
  margin: 0.7em 0 1.4em 1.4em;
}
.wp-caption img {
  margin: 0;
  max-width: 98.5%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.875em;
  margin: 0.7em 0 0 0;
  padding: 0;
}
 */




/* Compose to a vertical rhythm --------------------------------------------
 *
 * reference to 'bullframe-vertical-rhythm.css' file
 * https://github.com/marco135/bullframe.css/tree/master/extensions
*/




/* Customize <form> elements -----------------------------------------------

input[type="color"], 
input[type="email"], 
input[type="image"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="search"],
input[type="text"], 
input[type^="date"],
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="time"], 
input[type="url"],
select,
textarea {
  border-color: ;
}
input[type="color"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="search"]:focus,
input[type="text"]:focus, 
input[type^="date"]:focus,
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="time"]:focus, 
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: ;
  -webkit-box-shadow: ;
          box-shadow: ;
}
@media \0screen {
  input[type="color"]:focus, 
  input[type="email"]:focus, 
  input[type="number"]:focus, 
  input[type="password"]:focus, 
  input[type="tel"]:focus, 
  input[type="search"]:focus,
  input[type="text"]:focus, 
  input[type^="date"]:focus,
  input[type="month"]:focus, 
  input[type="time"]:focus, 
  input[type="week"]:focus, 
  input[type="time"]:focus, 
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    outline-color: ;
  }
}

input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="search"],
input[type="text"], 
input[type^="date"],
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="time"], 
input[type="url"],
textarea {
  padding: ;
}
select {
  padding: ;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  select[size="0"],
  select[size="1"] { 
    padding-right: ;
  } 
} 
textarea {
  *padding: ;
}
button,
.btn,
input[type="button"], 
input[type="reset"],
input[type="submit"] {
  padding: ;
}
button,
input[type="button"], 
input[type="reset"],
input[type="submit"],
button.btn,
input[type="button"].btn, 
input[type="reset"].btn,
input[type="submit"].btn {
  *padding: ;
}

button,
.btn,
input[type="button"], 
input[type="reset"],
input[type="submit"] {
  color: ;
  border-color: ;
  background: ;
} 
button:hover,
.btn:hover,
input[type="button"]:hover, 
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.btn:focus,
input[type="button"]:focus, 
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: ;
  border-color: ;
  background: ;
}


 * Useful tip
 *
 * avoid auto-zooming form controls on iPhone and iPod http://goo.gl/DExZO
 *
    input:focus,
    textarea:focus,
    select:focus {
      font-size: 16px;
    }

*/





/* Miscellaneous -----------------------------------------------------------

 * responsive Facebook comments embed

    .fb-comments, 
    .fb-comments span, 
    .fb-comments iframe {
      width: 100% !important;
    }


* prevent phone numbers looking twice as large and having a Skype highlight 
* https://github.com/h5bp/html5-boilerplate/blob/v4.1.0/doc/faq.md 

    span.skype_pnh_container {
      display: none !important;
    }
    span.skype_pnh_print_container {
      display: inline !important;
    }


*/





/* Flexible media queries reference ----------------------------------------

/* 320px
@media only screen and (min-width: 20em) { } */ 


/* 480px
@media only screen and (min-width: 30em) { } */  


/* 767px 
@media only screen and (min-width: 47.9375em) { } */ 


/* 979px
@media only screen and (min-width: 61.1875em) { } */  


/* 1200px 
@media only screen and (min-width: 75em) { } */ 


/* High resolution devices (retina)
@media print,
  only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (   -moz-min-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    
} */





/* $ 'Safe' CSS hacks reference --------------------------------------------
 * More hacks on http://browserhacks.com/

/* IE7
.safe-css-hack { 
  *color: darkred; 
}
*/

/* IE8
@media \0screen {
  .safe-css-hack { 
    color: green; 
  }
}
*/

/* IE9+ (note the '\9' at the end)
.safe-css-hack:nth-of-type(1n) {
  color: blue \9;
} 
*/

/* desktop/mobile IE10+
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .safe-css-hack {
    color: orange;
  }
}
*/

/* Webkit browsers (Chrome, Safari, Android, Opera webkit, Chrome, etc...)
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .safe-css-hack { 
    color: cyan; 
  } 
}  
*/

/* Opera 9.5-12, IE7
_:-o-prefocus, .safe-css-hack {
  color: brown;
}
*/

/* Firefox 3.5+
@-moz-document url-prefix() {
  .safe-css-hack { 
    color: magenta; 
  } 
} 
*/