/*! styles for documentation - BULLFRAME.CSS v1.6.3 docs
 *
 * https://github.com/marco135/bullframe.css/tree/master/add-ons
 * MIT License
============================================================================ */


/* the basics
--------------------------------------------------------------------------- */

@import url(//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

html,
button,
input,
select,
textarea {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}


/* banner
--------------------------------------------------------------------------- */

[role="banner"] {
  color: #fff;
  padding: 2em 0;
  margin-bottom: 1.5em;
  background-color: #c36e9e;
}

[role="banner"] h1 {
  margin: 0 ;
}

[role="banner"] h1::-moz-selection {
  background-color: #fff;
}

[role="banner"] h1::selection  {
  background-color: #fff;
}

@media (max-width: 700px) {

  [role="banner"] h1 {
    font-size: 1.5em;
  }

}

@media (min-width: 701px) {

  [role="banner"] {
    padding: 3em 0;
  }

  [role="banner"] h1 {
    font-size: 2em;
  }

}

@media (min-width: 1025px) {

  [role="banner"] h1 {
    font-size: 3em;
  }

}

@media (min-width: 641px) {

  .version {
    text-align: right;
  }

}

.version span {
  font-size: 80%;
  display: inline-block;
  margin-top: 0.75em;
}

@media (min-width: 1025px) {

  .version span {
    margin-top: 1.5em;
  }

}

.abstract {
  line-height: 1.8;
}

@media screen and (min-width: 1025px) {

  .abstract {
    font-size: 1.2em;
  }
}

.abstract code {
  background: #f0f0f0;
  display: inline-block;
  padding: 0.1em 0.3em;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}







/* navigation
--------------------------------------------------------------------------- */

.nav li a {
  display: block;
  padding: 0.75em 0;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 330px) and (max-width: 720px) {

  .nav li a {
    width: 50%;
    float: left;
  }

}

@media (min-width: 721px) {

  .nav li {
    float: left;
    margin: 2em 1em 1em 1em;
  }

  .nav li:first-child {
    margin-left: 0;
  }

  .nav li a:hover,
  .nav li a:focus {
    text-decoration: none;
    border-color: #2a6496;
  }

}

@media (min-width: 1025px) {

  .nav li {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .nav li a {
    padding: 0.5em 0;
    font-size: 1.1em;
  }

}








/* section titles
--------------------------------------------------------------------------- */

.title,
.sub-title {
  text-transform: uppercase;
}

.title {
  padding: 0.5em;
  color: #fff;
  background-color: #444;
  margin-top: 3em;
}

.sub-title {
  margin-top: 2em;
  padding: 0.5em 0;
}





/* content
--------------------------------------------------------------------------- */

.bullframe-demo legend {
  padding-bottom: 1.5em;
}

.bullframe-demo button,
.bullframe-demo .btn,
.bullframe-demo input,
.bullframe-demo select,
.bullframe-demo textarea {
  margin-bottom: 1.5em;
}

.bullframe-demo input[type="radio"],
.bullframe-demo input[type="checkbox"] {
  *margin-bottom: 0;
}


/* grid system */

h2#grid-system {
  margin-bottom: 1.5em;
}

.grid-bootstrap {
  margin-bottom: 4.5em;
}

.grid .wrapper {
  background: #999;
  height: 4.5em;
  overflow-y: hidden;
  line-height: 4.5em;
  color: #fff;
  font-size: 70%;
  text-align: center;
}

.grid .bf-row,
.grid .row {
  margin-bottom: 1.5em;
}

@media (max-width: 640px ) {

  .grid .bf-row,
  .grid .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .grid [class*="col-"] {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    *margin-left: 0;
    margin-bottom: 1.5em;
  }

}





/* footer
--------------------------------------------------------------------------- */

.back-to-top {
  text-align: center;
  display: block;
  margin: 4.5em 0 6em 0;
}

.back-to-top a:hover,
.back-to-top a:focus {
  text-decoration: none;
}

.back-to-top a i {
  vertical-align: middle;
  font-style: normal
}

.sharing {
  width: 100%;
  margin: 0 auto 1.5em 0;
  text-align: center;
}

.sharing .tw-btn-wrapper {
  margin-bottom: 4em;
}

.download {
  margin-top: 3em;
}

.download .github-source {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
  font-size: 3em;
  line-height: 1.1;
  font-weight: bold;
  background-color: #333;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
      -ms-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}

.download .github-source:hover,
.download .github-source:focus {
  background-color: #000;
}

@media (max-width: 640px) {

  .download .github-source {
    font-size: 2em;
  }

}

.download .github-source:hover,
.download .github-source:focus {
  color: #fff;
  text-decoration: none;
}

[role="contentinfo"] {
  background-color: #ccc;
}

[role="contentinfo"] p {
  display: block;
  padding: 1em 0;
  margin: 0;
}




