/*! styles for documentation - BULLFRAME.CSS v1.6.0 docs
 *
 * https://github.com/marco135/bullframe.css/tree/master/add-ons
 * MIT License
============================================================================ */




/* banner 
--------------------------------------------------------------------------- */

[role="banner"] {
  color: #fff;
  padding: 2em 0;
  background-color: #c36e9e;
}

[role="banner"] h1 {
  margin: 0;
}

@media (max-width: 640px) {

  [role="banner"] h1 {
    font-size: 1.5em;
  }

}

[role="banner"] small a {
  color: #fff;
}

[role="banner"] small a:hover,
[role="banner"] small a:focus {
  color: #fff;
}




/* navigation 
--------------------------------------------------------------------------- */

[role="navigation"] .list-inline li,
[role="navigation"] li a {
  display: block;
  font-size: 1.1em;
}

[role="navigation"] li {
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
}




/* section titles 
--------------------------------------------------------------------------- */

.title {
  padding: 0.5em;
  color: #fff;
  background-color: #444;
  margin-top: 3em;
}

.sub-title {
  background-color: #f0f0f0;
  padding: 0.25em;
} 





/* content
--------------------------------------------------------------------------- */

.bullframe-demo legend {
  padding-bottom: 1.5em;
} 

.bullframe-demo button,
.bullframe-demo .btn,
.bullframe-demo input, 
.bullframe-demo select, 
.bullframe-demo textarea {
  margin-bottom: 1.5em;
} 

.bullframe-demo input[type="radio"],
.bullframe-demo input[type="checkbox"] {
  *margin-bottom: 0;
}


/* grid system */

h2#grid-system {
  margin-bottom: 1.5em;
}

.grid-bootstrap {
  margin-bottom: 4.5em;
}

.grid .wrapper {
  background: #999;
  min-height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 75%;
  text-align: center;
}   

.grid .bf-row {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 29.9375em ) {

  /* 479px */

  .grid .bf-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .grid [class*="bf-col-"] {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    *margin-left: 0;
    margin-bottom: 1.5em;
  }

}





/* footer
--------------------------------------------------------------------------- */

.back-to-top {
  text-align: center;
  display: block;
}

.back-to-top a:hover,
.back-to-top a:focus {
  text-decoration: none;
}

.back-to-top a i {
  vertical-align: middle;
  font-style: normal
}

.download {
  margin-top: 3em;
  color: #fff;
  background-color: #c36e9e;
}

.download .github-source {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
  font-size: 3em;
  line-height: 1.1;
  font-weight: bold;
}

.download .github-source:hover,
.download .github-source:focus {
  color: #333;
  text-decoration: none;
}






