/*! BULLFRAME.CSS docs
 * styles for documentation
 *
 * https://github.com/marcop135/bullframe.css/tree/master/add-ons
 * MIT License
============================================================================ */

/* header
--------------------------------------------------------------------------- */

header {
  margin-top: 15px;
}

header img {
  max-width: 320px;
}

.dev-wrapper {
  padding: 1.5em;
  border: 1px solid #ccc;
  position: relative;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.dev-wrapper .btn {
  margin-bottom: 0 !important;
  font-size: 18px;
  font-size: 1.8rem;
}

.dev-wrapper .btn:first-child {
  margin-right: 10px;
}

.dev-wrapper p {
  margin-top: 10px;
}






/* section titles
--------------------------------------------------------------------------- */

.title,
.sub-title {
  text-transform: uppercase;
}

.title {
  padding: 0.5em;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  background-color: #444;
  margin-top: 3em;
}

.sub-title {
  margin-top: 2em;
  padding: 0.5em 0;
}





/* content
--------------------------------------------------------------------------- */

.bullframe-demo legend {
  padding-bottom: 24px;
}

.bullframe-demo button,
.bullframe-demo .btn,
.bullframe-demo input,
.bullframe-demo select,
.bullframe-demo textarea {
  margin-bottom: 24px;
}

.bullframe-demo input[type="radio"],
.bullframe-demo input[type="checkbox"] {
  *margin-bottom: 0;
}


/* grid system */

h2#grid-system {
  margin-bottom: 24px;
}

.grid .wrapper {
  background-color: #888;
  height: 48px;
  line-height: 48px;
  overflow-y: hidden;
  color: #fff;
  font-size: 70%;
  text-align: center;
}

/* zebra stripes */
.grid .bf-row:nth-child(odd) .wrapper {
  background-color: #ccc;
}

.grid .bf-row {
  margin-bottom: 24px;
}

@media (max-width: 767px) {

  .grid .bf-row {
    margin-bottom: 0;
  }

  .grid [class*="bf-col-"] {
    margin-bottom: 12px;
  }

}




/* footer
--------------------------------------------------------------------------- */

.back-to-top {
  text-align: center;
  display: block;
  margin: 70px 0 100px 0;
}

.back-to-top a:hover,
.back-to-top a:focus {
  text-decoration: none;
}

.back-to-top a i {
  vertical-align: middle;
  font-style: normal
}

.sharing {
  width: 100%;
  margin: 0 auto 24px 0;
  text-align: center;
}

.github-source {
  font-weight: bold;
}


[role="contentinfo"] {
  background-color: #fff;
}

[role="contentinfo"] p {
  display: block;
  padding: 10px 0;
  margin: 0;
}
