/* just for a nicer demo */

.test .bf-row {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.test [class^="bf-col"] {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

@media (max-width: 575px) {
	.test header {
		margin-top: 12px;
		margin-bottom: 1.2rem;
	}
}

.test header h1 {
	margin-bottom: 0;
}

@media (min-width: 600px) {
	.test header h1 {
		font-size: 55px;
		font-size: 5.5rem;
	}
}

@media (min-width: 1000px) {
	.test header h1 {
		font-size: 70px;
		font-size: 7rem;
	}
}

.test header a {
	margin-right: 12px;
	margin-right: 1.2rem;
}

@media (min-width: 600px) {
	.test .h2--section {
		font-size: 40px;
		font-size: 4rem;
	}
}

.test .h2--section {
	padding-top: 24px;
	padding-botttom: 2.4rem;
	text-transform: uppercase;
}

.test legend {
	padding-bottom: 12px;
	padding-bottom: 1.2rem;
}

.test button,
.test .bf-btn,
.test .input-image,
.test input,
.test select,
.test textarea {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.test [type="image"],
.test [type="checkbox"],
.test [type="radio"] {
	margin-bottom: 0;
}

.test .grid .col-wrapper {
	background-color: #888;
	height: 60px;
	height: 6rem;
	line-height: 60px;
	line-height: 6rem;
	overflow-y: hidden;
	color: #fff;
	font-size: 80%;
	text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: 700;
}

.test .grid .bf-row:nth-child(odd) .col-wrapper {
	background-color: #ccc;
	color: #000;
}

@media (max-width: 767px) {
	.test .grid .bf-row {
		margin-bottom: 0;
	}

	.test .grid [class*="bf-col-"] {
		margin-bottom: 24px;
		margin-bottom: 2.4rem;
	}
}

.test .back-to-top {
	text-align: center;
	display: block;
	margin: 60px 0 120px 0;
	margin: 6rem 0 12rem 0;
}

.test .back-to-top a i {
	vertical-align: middle;
	font-style: normal;
}
