@use "../variables/variables-colors" as bf-v-color;
@use "../variables/variables-texts" as bf-v-text;
@use "../variables/variables-spacing" as bf-v-space;
@use "../variables/variables-breakpoints" as bf-v-bp;
@use "sass:color";

// Remove focus outline if it's not keyboard-triggered
:where(:focus:not(:focus-visible)) {
  outline: none;
}

// Suppress outline on non-keyboard-focusable elements (e.g. tabindex="-1")
:where([tabindex="-1"]:focus:not(:focus-visible)) {
  outline: 0 !important;
}

// Restore focus style for keyboard users only
:focus-visible {
  outline: 0.2rem solid bf-v-color.$bf-orange;
  outline-offset: 0.3rem;
}

// Remove default focus outline on form elements
// (styles applied elsewhere, e.g. _form-elements.scss)
//
// Exceptions (don't override!):
// - [type="color"]
// - [type="range"]
// - [type="file"]
// These are often replaced by custom widgets via JS/markup
//
// Ref: https://getbootstrap.com/docs/4.4/components/input-group/#custom-file-input
button,
[type="button"],
[type="reset"],
[type="submit"],
[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="url"],
[type="radio"],
[type="checkbox"],
input[list],
select,
textarea,
.bf-btn {
  &:focus {
    outline: 0;
  }
}
