@use "variables/variables-spacing" as v-space;
@use "variables/variables-colors" as v-color;
@use "variables/variables-breakpoints" as v-bp;
@use "sass:color";

address {
  font-style: normal;
  margin-bottom: v-space.$bf-spacing-lg-px;
  margin-bottom: v-space.$bf-spacing-lg-rem;
  line-height: inherit;
}

summary {
  display: list-item;
  cursor: pointer;
  font-weight: 700;
  word-break: break-all;
}

dialog {
  // match body background color
  background-color: v-color.$bf-white;
  border: none;
  border-radius: v-space.$bf-spacing-sm-rem;
  padding: v-space.$bf-spacing-xl-px;
  padding: v-space.$bf-spacing-xl-rem;
  min-width: 25rem;
  max-width: calc(100vw - (v-space.$bf-spacing-grid-gutter-rem * 2));
  @media (min-width: v-bp.$bf-breakpoint-md) {
    max-width: 50rem;
  }
}

// Overrides 'hidden' attribute
// <dialog id="myDialog" hidden>...</dialog>
dialog[open] {
  display: block !important;
}

dialog::backdrop {
  background: rgb(0 0 0 / 40%);
}
