@use "../variables/variables-colors" as bf-v-color;
@use "../variables/variables-texts" as bf-v-text;
@use "../variables/variables-spacing" as bf-v-space;
@use "../variables/variables-breakpoints" as bf-v-bp;
@use "sass:color";

address {
  font-style: normal;
  margin-bottom: bf-v-space.$bf-spacing-lg-px;
  margin-bottom: bf-v-space.$bf-spacing-lg-rem;
  line-height: inherit;
}

details > summary:first-of-type {
  display: list-item;
}

summary {
  cursor: pointer;
  font-weight: 700;
  word-break: break-all;
}

dialog {
  // match body background color
  background-color: bf-v-color.$bf-white;
  color: bf-v-color.$bf-dark;
  border: none;
  border-radius: bf-v-space.$bf-spacing-sm-rem;
  padding: bf-v-space.$bf-spacing-xl-px;
  padding: bf-v-space.$bf-spacing-xl-rem;
  height: fit-content;
  min-width: 25rem;
  max-width: calc(100vw - (bf-v-space.$bf-spacing-grid-gutter-rem * 2));
  @media (min-width: bf-v-bp.$bf-breakpoint-md) {
    max-width: 50rem;
  }
}

// Overrides 'hidden' attribute
// <dialog id="myDialog" hidden>...</dialog>
dialog[open] {
  display: block !important;
}

dialog::backdrop {
  background: rgb(0 0 0 / 40%);
}
