/* Always-dark overrides for classless (no media query, no .bf-* selectors). */

@import './_utility-global-dark-elements.css';

a:focus,
input:focus {
  outline-color: rgb(214 140 0); /* orange -15% */
}

:focus-visible {
  outline-color: rgb(214 140 0); /* orange -15% */
}
