// normalization, enhancement and responsiveness

html input,
button,
select,
optgroup,
textarea {
	color: inherit;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

html input,
select,
textarea,
legend,
label {
	width: 100%;
}

button,
[type="image"],
[type="submit"],
[type="reset"],
html [type="button"],
[type="radio"],
[type="checkbox"] {
	width: auto;
}

// inline-block display gives the best cross-browser combination
// and allow several properties
label,
html input,
select,
textarea,
button,
.btn,
html [type="button"],
[type="reset"],
[type="submit"],
output {
	display: inline-block;
}

[type="file"] {
	display: block;
	background-color: transparent;
}

::-webkit-file-upload-button {
	font: inherit;
}

button,
html input,
select,
textarea {
	background-image: none; // FF mobile
}

input,
select,
textarea {
	vertical-align: baseline;
}

// always show a pointer cursor
.btn,
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

form {
	margin: 0;
}

// 1. Remove intrinsic min-width of fieldset
// https://github.com/necolas/normalize.css/pull/269
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0; // 1.
}

legend {
	display: block;
	display: table \9; // enable line-wrapping in IE8+
	max-width: 100%;
	white-space: normal; // enable line-wrapping in FF4/5
	border: 0;
	padding: 0;
	font-weight: 400;
	margin-bottom: $spacing-md-px;
	margin-bottom: $spacing-md-rem;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

label {
	font-weight: 700;
	margin-bottom: $spacing-md-px;
	margin-bottom: $spacing-md-rem;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -$spacing-sm-px;
	outline-offset: -$spacing-sm-rem;
}

output {
	vertical-align: middle;
}

button,
select {
	text-transform: none;
}

optgroup {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: 700;
}

// remove -webkit-appearance listing every single elements that needed it
button,
// avoid destroying native android audio/video players
html [type="button"], 
[type="reset"],
[type="submit"],
[type="email"],
[type="text"],
[type="tel"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="url"],
[type="image"],
[type="password"],
[type="search"],
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}

// add again -webkit-appearance destroyed from the previous ruleset
::-webkit-file-upload-button {
	appearance: button;
}

[type="date"],
[type="time"],
[type="datetime-local"],
[type="month"] {
	appearance: listbox;
}

button,
input,
select,
textarea {
	border-radius: 0;
}

[type="radio"] {
	border-radius: $spacing-md-px;
}

[type="color"],
[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="time"],
[type="url"],
select,
textarea {
	background-color: $white; // this is cross-browser
	border: 1px solid $gray;
}

[type="radio"],
[type="checkbox"] {
	padding: 0;
}

[type="range"] {
	background-color: transparent; // FF and Chrome mobile
}

select[size],
select[multiple] {
	height: auto;
}

select[multiple] {
	background-image: none; // FF mobile
}

optgroup::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	height: auto;
	min-height: 60px;
	min-height: 6rem;
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="time"],
[type="url"],
select,
textarea {
	padding: $spacing-md-px;
	padding: $spacing-md-rem;
}

label [type="radio"],
label [type="checkbox"] {
	margin-right: $spacing-lg-px;
	margin-right: $spacing-lg-rem;
}

label + [type="radio"],
label + [type="checkbox"] {
	margin-left: $spacing-lg-px;
	margin-left: $spacing-lg-rem;
}

[type="color"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="tel"]:focus,
[type="search"]:focus,
[type="text"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[type="time"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: $black;
}

button,
.btn,
[type="button"],
[type="reset"],
[type="submit"] {
	color: inherit;
	padding: ($spacing-xl-px / 3) (($spacing-xl-px / 3) * 2); // 8px 16px
	padding: ($spacing-xl-rem / 3) (($spacing-xl-rem / 3) * 2);
	line-height: normal;
	text-align: center;
	margin: 0;
	background-clip: padding-box;
	vertical-align: baseline;
	overflow: visible;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
	border-radius: $spacing-sm-px;
	border: 1px solid $gray-light;
	background-image: none; // FF mobile
	background: $gray-light;
	transition: all .2s;
}

// Firefox: Get rid of the inner focus border
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

button:hover,
.btn:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:focus,
.btn:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
	text-decoration: none;
	border-color: darken($gray-light, 10%);
	color: inherit;
	background: darken($gray-light, 10%);
}

button:focus,
.btn:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
	// ! do not remove the outline
	// Accessibility Concerns
	// https://developer.mozilla.org/en-US/docs/Web/CSS/:focus#Accessibility_Concerns
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

// invalid, placeholder, disabled and readonly
input:invalid,
select:invalid,
textarea:invalid {
	color: $red;
	border-color: $red;
	box-shadow: none;
}

// FF placeholder bug
// Issue: If one change the text color of input fields, FF will change
// the default color of placeholders too!
// Fix: Use '!important' https://github.com/necolas/normalize.css/issues/150
input::placeholder,
textarea::placeholder {
	color: $gray-dark;
}

// disabled groups
fieldset[disabled] .btn,
fieldset[disabled] button,
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea,

// disabled singles
.btn[disabled],
button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default !important; // IE8-10 fallback
	cursor: not-allowed !important; // Opera Mini fallback
	pointer-events: none;
	opacity: .5 !important;
}