/* normalize --------------------------------------------------------------- */

html input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

label,
html input,
select,
textarea,
button,
.btn,
html [type="button"],
[type="reset"],
[type="submit"],
output {
	display: inline-block;
}

[type="file"] {
	display: block;
	background-color: transparent;
}

::-webkit-file-upload-button {
	font: inherit;
}

button,
html input,
select,
textarea {
	background-image: none; /* FF mobile */
}

input,
select,
textarea {
	vertical-align: baseline;
}

.btn,
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

form {
	margin: 0;
}

/* 1. Remove intrinsic min-width of fieldset
* https://github.com/necolas/normalize.css/pull/269 */
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0; /* 1 */
}

legend {
	display: block;
	display: table \9; /* enable line-wrapping in IE8+ */
	max-width: 100%;
	white-space: normal; /* enable line-wrapping in FF4/5 */
	border: 0;
	padding: 0;
	font-weight: 400;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: inherit;
	color: inherit;
}

label {
	font-weight: 700;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
}

label input {
	font-weight: 400;
	margin-top: 6px;
	margin-bottom: 0.6rem;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -3px;
}

output {
	vertical-align: middle;
}

button,
select {
	text-transform: none;
}

optgroup {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: 700;
}

/* remove -webkit-appearance listing every single elements that needed it */
button,
/* avoid destroying native android audio/video players */
html [type="button"], 
[type="reset"],
[type="submit"],
[type="email"],
[type="text"],
[type="tel"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="url"],
[type="image"],
[type="password"],
[type="search"],
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}

/* add again -webkit-appearance destroyed from the previous ruleset */

::-webkit-file-upload-button {
	appearance: button;
}

[type="date"],
[type="time"],
[type="datetime-local"],
[type="month"] {
	appearance: listbox;
}

button,
input,
select,
textarea {
	border-radius: 0;
}

[type="radio"] {
	border-radius: 6px;
}

[type="color"],
[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="time"],
[type="url"],
select,
textarea {
	background-color: #fff;
	border: 1px solid #b2b2b2;
}

[type="radio"],
[type="checkbox"] {
	padding: 0;
}

[type="range"] {
	background-color: transparent; /* FF and Chrome mobile */
}

select[size],
select[multiple] {
	height: auto;
}

select[multiple] {
	background-image: none; /* FF mobile */
}

optgroup::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	height: auto;
	min-height: 60px;
	min-height: 6rem;
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

[type="color"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="tel"]:focus,
[type="search"]:focus,
[type="text"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[type="time"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: #000;
}

/* add responsiveness ------------------------------------------------------ */

html input,
select,
textarea,
legend,
label {
	width: 100%;
}

button,
[type="image"],
[type="submit"],
[type="reset"],
html [type="button"],
[type="radio"],
[type="checkbox"] {
	width: auto;
}

[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="time"],
[type="url"],
select,
textarea {
	padding: 6px;
	padding: 0.6rem;
}

/* customize radios and checkboxes ---------------------------------------- */

label [type="radio"],
label [type="checkbox"] {
	margin-right: 12px;
	margin-right: 1.2rem;
}

label + [type="radio"],
label + [type="checkbox"] {
	margin-left: 12px;
	margin-left: 1.2rem;
}

/* customize buttons ------------------------------------------------------- */
button,
.btn,
[type="button"],
[type="reset"],
[type="submit"] {
	padding: 6px 12px;
	padding: 0.6rem 1.2rem;
	line-height: normal;
	text-align: center;
	margin: 0;
	background-clip: padding-box;
	vertical-align: baseline;
	overflow: visible;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
	border-radius: 3px;
	border: 1px solid #b2b2b2;
	background-image: none; /* FF mobile */
	background: #f4f4f4; /* light gray */
}

/* Firefox: Get rid of the inner focus border */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

button:hover,
.btn:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:focus,
.btn:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
	text-decoration: none;
	border-color: #999;
	background: #cacaca;
}

/* invalid, placeholder, disabled and readonly ----------------------------- */

input:invalid,
select:invalid,
textarea:invalid {
	color: red;
	border-color: red;
	box-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #888; /* gray */
}

/* FF placeholder bug
* Issue: If one change the text color of input fields, FF will change
* the default color of placeholders too!
* Fix: Use '!important' https://github.com/necolas/normalize.css/issues/150
*/

input::placeholder,
textarea::placeholder {
	color: #888;
}

input.placeholder,
textarea.placeholder {
	color: #888;
}

/* disable groups */
fieldset[disabled] .btn,
fieldset[disabled] button,
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea,

/* disable singles */
.btn[disabled],
button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default !important; /* IE8-10 fallback */
	cursor: not-allowed !important; /* Opera Mini fallback */
	pointer-events: none;
	opacity: 0.5 !important;
}

.btn[disabled]:hover,
.btn[disabled]:focus {
	border: 1px solid #b2b2b2;
	background: #f4f4f4;
}

[type="radio"][disabled],
[type="checkbox"][disabled],
fieldset[disabled] [type="radio"],
fieldset[disabled] [type="checkbox"] {
	background-color: transparent;
}
