/*! bullframe.css v3.0.0-beta | MIT License | https://github.com/marcop135/bullframe.css */

// known issues with IE8 and IE9 with box-sizing
// https://css-tricks.com/box-sizing/#article-header-id-5
*,
*:before,
*:after {
	box-sizing: border-box;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

template {
	display: none;
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-. */
[hidden] {
	display: none !important;
}

// Fix IE 10 on Windows Phone 8 Viewport only
// https://getbootstrap.com/docs/3.3/getting-started/#support-ie10-width
@-ms-viewport {
  width: device-width;
}
