address {
	font-style: normal;
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
	line-height: inherit;
}

progress {
	vertical-align: baseline;
	width: 100%;
	max-width: 100%;
}

hr {
	box-sizing: content-box;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #999;
	margin: 24px 0;
	margin: 2.4rem 0;
	padding: 0;
	overflow: visible; /* Show the overflow in Edge and IE */
}
