table {
	max-width: 100%;
	border-collapse: collapse;
}

thead th {
	vertical-align: bottom;
}

th,
td {
	vertical-align: top;
}

th {
	text-align: inherit;
}

caption {
	padding-top: 6px;
	padding-top: 0.6rem;
	padding-bottom: 6px;
	padding-bottom: 0.6rem;
	color: $gray;
	text-align: left;
	caption-side: bottom;
}

th {
	font-weight: 700;
}
