table {
	max-width: 100%;
	border-collapse: collapse;
}

thead th {
	vertical-align: bottom;
}

th,
td {
	vertical-align: top;
}

.table th,
.table td {
	padding: 8px;
	padding: 0.8rem;
	border-bottom: 1px solid #999;
}

th {
	text-align: inherit;
}

caption {
	padding-top: 8px;
	padding-top: 0.8rem;
	padding-bottom: 8px;
	padding-bottom: 0.8rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom;
}

th {
	font-weight: 700;
}
