html {
	text-size-adjust: 100%;

	// resize the base font-size and get an easy math for rem units
	// https://snook.ca/archives/html_and_css/font-size-with-rem
	font-size: 62.5%;

	color: #222;

	// set a default font-family and line-height
	font-family: sans-serif;
	line-height: 1.15;

	// don't let MS browsers hide the main scrollbar
	// this is a not standard CSS property, so it's for IE only
	// https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-overflow-style
	-ms-overflow-style: scrollbar;

	// remove a tap background when a link or interactive element is focused 
  // if is touch
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	line-height: 1.5;
	font-size: 17px;
	font-size: 1.7rem;

	// this is useful to inherit values for some elements (e.g. forms)
	font-weight: 400;
	text-align: left;

	// native font stack for optimum text rendering on every device and OS
	// this stack mimics the system font UI 
	// a web apps looks like a native app (e.g. Android = Roboto font)
	// Read more:
	// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
	font-family: 
		// Safari for OS X and iOS (San Francisco)
		-apple-system,
		// Chrome < 56 for OS X (San Francisco)
		BlinkMacSystemFont,
		// Windows
		"Segoe UI",
		// Android
		Roboto,
		// Linux with KDE 
		Oxygen-Sans, 
		// Ubuntu (all variants)
		Ubuntu,
		// Linux with GNOME Shell
		Cantarell,
		// macOS 10.10 and below
		"Helvetica Neue", Helvetica,
		// Basic web fallback
		Arial, sans-serif,
		// emoji fonts
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	// this enable font ligatures
	text-rendering: optimizeLegibility;

	// break very long texts by default, especially on old browsers
	// e.g. big <h1> or <h2> headlines
	word-wrap: break-word;

	background-color: $bf-white;

	// 3D effects are problematic in WebKit because 
  // backface-visibility not hidden, so we can add backface support 
  // to the body element
	// http://css-tricks.com/almanac/properties/b/backface-visibility/
	
	// this is a not standard CSS property, so it's for webkit only
	// https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
	backface-visibility: hidden;
}

h1
h2
h3
h4
h5,
h6 {
	font-weight: 700;
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	color: inherit;
}

h1 {
	font-size: 3$bf-spacing-md-px;
	font-size: $bf-spacing-xxl-rem;
	margin-bottom: $bf-spacing-xl-px 0;
	margin-bottom: $bf-spacing-xl-rem 0;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
	margin-bottom: $bf-spacing-xl-px 0;
	margin-bottom: $bf-spacing-xl-rem 0;
}

h3 {
	font-size: $bf-spacing-xl-px;
	font-size: $bf-spacing-xl-rem;
	margin-bottom: $bf-spacing-xl-px 0;
	margin-bottom: $bf-spacing-xl-rem 0;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: $bf-spacing-lg-px 0;
	margin-bottom: $bf-spacing-lg-rem 0;
}

h5,
h6 {
	font-size: 17px;
	font-size: 1.7rem;
	margin-bottom: $bf-spacing-lg-px 0;
	margin-bottom: $bf-spacing-lg-rem 0;
}

// Abbreviations (taken Bootstrap 4)
// 
// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
abbr[title],
abbr[data-original-title] {
	cursor: help;
	text-decoration: underline; // 2
	text-decoration: underline dotted; // 2
	cursor: help; // 2
	border-bottom: 0; // 2
	text-decoration-skip-ink: none;
	text-decoration-skip: none;
}

blockquote {
	margin: 0 0 $bf-spacing-xl-px 0;
	margin-bottom: $bf-spacing-xl-rem;
	padding-left: $bf-spacing-xl-px;
	padding-left: $bf-spacing-xl-rem;
	border-left: $bf-spacing-md-px solid $bf-gray;
	border-left: .6rem solid $bf-gray;
	font-style: italic;
}

blockquote p {
	margin-bottom: 0;
}

blockquote small {
	color: $bf-gray;
	display: block;
}

blockquote small:before {
	content: "\2014 \00A0";
}

q {
	quotes: "\201C""\201D""\2018""\2019";
}

mark {
	background-color: $bf-yellow;
	color: $bf-black;
	font-weight: 700;
}

ins {
	background-color: $bf-yellow-light;
	color: $bf-black;
	text-decoration: none;
}

p,
pre {
	margin: 0 0 $bf-spacing-xl-px 0;
	margin: 0 0 $bf-spacing-xl-rem 0;
}

pre {
	overflow: auto;
	word-break: break-all; // webkit
	word-wrap: break-word;
	white-space: pre;
	hyphens: none;
	// this is a not standard CSS property, so it's for IE only
	// https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-overflow-style
	-ms-overflow-style: scrollbar;
}

pre,
code,
kbd,
samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	// a monospaced text should looks bigger, so a smaller font-size is preferred
	font-size: 90%;
}

kbd {
	background-color: $bf-dark;
	color: $bf-white;
	padding: $bf-spacing-sm-px;
	padding: $bf-spacing-sm-rem;

	// ! IE9+
	// https://caniuse.com/#feat=border-radius
	border-radius: $bf-spacing-sm-px;
}

// Prevent the duplicate application of `bolder` by the next rule 
// in Safari 6
b,
strong {
	font-weight: inherit;
}

// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -8px;
	top: -.8rem;
}

sub {
	bottom: -4px;
	bottom: -.4rem;
}

small {
	font-size: 80%;
}

hr {
	box-sizing: content-box;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $bf-gray;
	margin: $bf-spacing-xl-px 0;
	margin: $bf-spacing-xl-rem 0;
	padding: 0;
	overflow: visible; // Show the overflow in Edge and IE
}

address {
	font-style: normal;
	margin-bottom: $bf-spacing-lg-px;
	margin-bottom: $bf-spacing-lg-rem;
	line-height: inherit;
}

summary {
	display: list-item;
	cursor: pointer;
}