/* clearfix --------------------------------------------------------------- */
/* micro-clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* layout display ---------------------------------------------------------- */

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.show-inline {
	display: inline;
}

.show-inline-block {
	display: inline-block;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

/* assistive text for screen reader only (e.g. form labels) */
.hidden {
	display: none !important;
	visibility: hidden !important;
}

/* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/* layout positioning ------------------------------------------------------ */
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.affix {
	position: fixed;
}

/* http://css-tricks.com/centering-in-the-unknown/
* align center vertically and horizontally
*/
.align-center-unknown {
	display: table;
	width: 100%;
}

.align-center-unknown-item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* text utilities ---------------------------------------------------------- */

.text-uppercase {
	text-transform: uppercase;
}

.text-transform-none {
	text-transform: none;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-shadow {
	text-shadow: 0 0 0.2rem #222;
}

.text-italic {
	font-style: italic;
}

// useful to 'reset' <i> inherited style
.text-style-normal {
	font-style: normal;
}

// useful to 'reset' <b> inherited style
.text-weight-normal {
	font-weight: 400;
}

.text-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

.no-select {
	user-select: none;
}

.font-sans-serif {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.font-monospace {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

/* responsive tables --------------------------------------------------------
* Note: issues on Opera 10-11, Opera Mobile Presto and Opera Mini
*/
.table-responsive {
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-style: scrollbar;
}

.table-responsive table {
	width: 100%;
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* force webkit scrollbars appearance */
.table-responsive.scrollbar {
	-webkit-overflow-scrolling: auto;
}

/* responsive embeds ------------------------------------------------------- */

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive.widescreen::before {
	padding-bottom: 56.25%; /* 16:9 */
}

.embed-responsive.vimeo::before {
	padding-top: 0; /* no extra-padding for vimeo controls */
}
