// colors, spacing and breakpoint variables
// this is for an easy customisation
@import 'variables/variables-colors';
@import 'variables/variables-texts';
@import 'variables/variables-spacing';
@import 'variables/variables-breakpoints';

// all about box-sizing and display
@import 'misc/misc-layout';

// this a wide range of text elements bug fixing and improvements
@import 'typography/typography-html-body';
@import 'typography/typography-headings';
@import 'typography/typography-blockquotes';
@import 'typography/typography-monospaced-elements';
@import 'typography/typography-misc';

// <a> linkage
@import 'misc/misc-anchors';

// outline styles
@import 'misc/misc-focus';

// <ul>, <ol> and <dl>
@import 'misc/misc-lists';

// img, audio, video, svg, and more
@import 'misc/misc-embedded-content';

// all about form elements
@import 'forms/forms-normalization';
@import 'forms/forms-styling';
@import 'forms/forms-styling-select';
@import 'forms/forms-styling-radio-checkbox';
@import 'forms/forms-styling-range';

// <table> and his elements
@import 'misc/misc-tables';

// this is just quick way to customise your styles
// below these styles, you shouldn't override nothing but remove them
// commented by default
@import 'misc/misc-author-styles-in-css';

// a set of default opinionated utilities
// always put this as far as possible from the rest of the styles
// 'print' and 'reduced-motion' are just an exception because target
// exclusively a user behaviours
//
// take a look at all the Bootstrap's utilities
// https://github.com/twbs/bootstrap/tree/v4.4.1/scss/utilities

// the 12 columns IE8+ grid system
@import 'utilities/utility-grid-system';

// clearfix, sr-only, float, inline/block/flex, and more
@import 'utilities/utility-layout';

@import 'utilities/utility-z-index';

// reset margins and paddings adding a class
@import 'utilities/utility-spacing';

// font families, text truncated, text alignment, and more
@import 'utilities/utility-texts';

// '.btn' and '.btn--primary'
@import 'utilities/utility-buttons';

// '.placeholder', '.invalid', '.disabled'
@import 'utilities/utility-form-states';

// font families, text truncated, text alignment, and more
@import 'utilities/utility-lists';

// embed without worries iframes, video or whatever needed
@import 'utilities/utility-embeds';

// use this and the tables won't break the layout horizontally anymore
@import 'utilities/utility-tables';

// a base set of mixins
@import 'mixins/mixin-layout';
@import 'mixins/mixin-texts';

// add dark mode via prefers-color-scheme media queries
// https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
// No IE, Opera Mini and Samsung browser support
// https://caniuse.com/#feat=prefers-color-scheme
//
// @import "utilities/utility-global-dark-prefers";

// add dark using an <html> or <body> class
// e.g. '.dark p { color: white }'
// uncomment it if you need a dark mode as default
//
// @import "utilities/utility-global-dark";

// default print styles
// taken from https://github.com/h5bp/html5-boilerplate/blob/v7.3.0/dist/css/main.css
@import 'utilities/utility-print';

// styles for users that prefer reduced motion (e.g. user with disabilities)
// https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
// The 'prefers-reduced-motion' CSS media feature is used to detect if the user
// has requested that the system minimize the amount of animation or motion it uses.
@import 'utilities/utility-reduced-motion';

// shamy quick fixes...
// https://csswizardry.com/2013/04/shame-css/
@import 'misc/misc-shame';

// this is useful for just for debugging purpouses
// commented by default
@import 'utilities/utility-debugging';
