// ! CSS Variables (Custom Properties) are not IE-friendly
// https://caniuse.com/#feat=css-variables
// let's Sass do the job instead

// customise/enlarge this small selection as needed

// backgrounds, texts and borders
$bf-white: #fff;
$bf-light: #f0f0f0;
$bf-gray-extra: #e9e9e9;
$bf-gray-light: #ccc;
$bf-gray: #999;
$bf-gray-dark: #666;
$bf-gray-dark-extra: #333;
$bf-dark: #222;
$bf-dark-extra: #111;
$bf-black: #000;

// <mark> and <ins>
$bf-yellow-light: #ff9;
$bf-yellow: #ff0;

// anchors
$bf-blue: #007bff;
$bf-blue-light: #0056b3;

// invalid forms
$bf-red: #FF0000;