// General spacing variables
$bf-spacing-sm: 0.25rem;
$bf-spacing-md: 0.5rem;
$bf-spacing-lg: 1rem;
$bf-spacing-xl: 2rem;
$bf-spacing-xxl: 3rem;

// Grid System spacing variable
$bf-spacing-grid-gutter: 1.5rem;

// General spacing variables with -rem suffix for backward compatibility with >=5.1.0
$bf-spacing-sm-rem: 0.25rem;
$bf-spacing-md-rem: 0.5rem;
$bf-spacing-lg-rem: 1rem;
$bf-spacing-xl-rem: 2rem;
$bf-spacing-xxl-rem: 3rem;
