// margins in PXs
$margin-sm: 3px;
$margin-md: 6px;
$margin-lg: 12px;
$margin-xl: 24px;
$margin-xxl: 36px;

// margins in REMs
$margin-sm: .3rem;
$margin-md: .6rem;
$margin-lg: 1.2rem;
$margin-xl: 2.4rem;
$margin-xl: 3.6rem;

// paddings in PXs
$padding-sm: 3px;
$padding-md: 6px;
$padding-lg: 12px;
$padding-xl: 24px;
$padding-xxl: 36px;

// paddings in REMs
$margin-sm: .3rem;
$margin-md: .6rem;
$margin-lg: 1.2rem;
$margin-xl: 2.4rem;
$margin-xxl: 3.6rem;