// customise this spacing selection as needed

// the REM unit is the default,
// preceded by the PX unit as fallback for old browsers (IE)
// https://caniuse.com/#search=rem
//
// e.g.
// html { font-size: 62.5%; }
// body { font-size: 16px; }
// h1 { font-size: 30px; font-size: 3rem; }

$spacing-sm-px: 3px;
$spacing-md-px: 6px;
$spacing-lg-px: 12px;
$spacing-xl-px: 24px;
$spacing-xxl-px: 36px;

$spacing-sm-rem: .3rem;
$spacing-md-rem: .6rem;
$spacing-lg-rem: 1.2rem;
$spacing-xl-rem: 2.4rem;
$spacing-xxl-rem: 3.6rem;