/* Forms - Styling */

:where(
    [type="email"],
    [type="number"],
    [type="password"],
    [type="tel"],
    [type="search"],
    [type="text"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="time"],
    [type="url"],
    input[list],
    select,
    textarea
  ) {
  background-color: var(--bf-white);
  border: 1px solid var(--bf-gray);
  padding: var(--bf-spacing-md) calc(var(--bf-spacing-lg) * 0.75);
}

:where(
    [type="email"],
    [type="number"],
    [type="password"],
    [type="tel"],
    [type="search"],
    [type="text"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="time"],
    [type="url"],
    input[list],
    select,
    textarea,
    [type="radio"],
    [type="checkbox"]
  ):active,
:where(
    [type="email"],
    [type="number"],
    [type="password"],
    [type="tel"],
    [type="search"],
    [type="text"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="time"],
    [type="url"],
    input[list],
    select,
    textarea,
    [type="radio"],
    [type="checkbox"]
  ):focus {
  transition: border 0.2s, background-color 0.2s, box-shadow 0.2s;
  border-color: var(--bf-blue);
  box-shadow: 0 0 0 3px rgb(0 86 179 / 25%);
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
  color: var(--bf-dark);
  padding: calc(var(--bf-spacing-xl) / 3) calc(calc(var(--bf-spacing-xl) / 3) * 2);
  background: var(--bf-gray-light);
  transition: color 0.2s, background 0.2s, box-shadow 0.2s;
}

:where(button, [type="button"], [type="reset"], [type="submit"]):hover,
:where(button, [type="button"], [type="reset"], [type="submit"]):active,
:where(button, [type="button"], [type="reset"], [type="submit"]):focus:not(.bf-disabled):not([aria-disabled="true"]) {
  text-decoration: none;
  color: var(--bf-dark);
  background: rgb(184 184 184); /* color.adjust($bf-gray-light, $lightness: -10%) */
}

:where(button, [type="button"], [type="reset"], [type="submit"]):active,
:where(button, [type="button"], [type="reset"], [type="submit"]):focus:not(.bf-disabled):not([aria-disabled="true"]) {
  box-shadow: 0 0 0 3px rgb(0 0 0 / 15%);
}

/* disabled groups */
:where(
    fieldset[disabled] button,
    fieldset[disabled] input,
    fieldset[disabled] input::after,
    fieldset[disabled] input::before,
    fieldset[disabled] input:checked,
    fieldset[disabled] select,
    fieldset[disabled] textarea,
    fieldset[disabled] label,
    button[disabled],
    input[disabled],
    input[disabled]::after,
    input[disabled]::before,
    input[disabled]:checked,
    select[disabled],
    textarea[disabled],
    label[disabled],
    button:disabled,
    input:disabled,
    input:disabled::after,
    input:disabled::before,
    input:disabled:checked,
    select:disabled,
    textarea:disabled,
    label:disabled,
    button[aria-disabled="true"],
    input[aria-disabled="true"],
    input[aria-disabled="true"]::after,
    input[aria-disabled="true"]::before,
    input[aria-disabled="true"]:checked,
    select[aria-disabled="true"],
    textarea[aria-disabled="true"],
    label[aria-disabled="true"]
  ) {
  cursor: default !important; /* fallback */
  cursor: not-allowed !important;
  pointer-events: none !important;
  user-select: none !important;
  box-shadow: none !important;
  outline: none !important; /* disable focus ring */
  opacity: 0.5 !important;
}
